export(allCovariates)
export(chooseCov)
export(covAssoc)
export(getLDblocks)
export(getLDpairs)
export(getOptions)
export(ldBlock)
export(loadCovariates)
export(plotHist)
export(plotQQ)
export(runME)
importClassesFrom(snpStats)
import(MatrixEQTL)
import(Rsge)
