export(allCovariates)
export(chooseCov)
export(covAssoc)
export(getLDblocks)
export(getOptions)
export(ldBlock)
export(loadCovariates)
export(plotHist)
export(plotQQ)
export(runME)
import(MatrixEQTL)
