export(allCovariates)
export(chooseCov)
export(covAssoc)
export(fitStats)
export(getEffectSize)
export(getLDblocks)
export(getLDpairs)
export(getMultiPeak)
export(getOptions)
export(ldBlock)
export(loadCovariates)
export(loadData)
export(plotCov)
export(plotHist)
export(plotQQ)
export(runME)
import(MatrixEQTL)
import(Rsge)
